.services-icon{
  height: 20vh;
  float: left;
  padding-right: 20px;
}

.services-div{
  background-color: var(--blue);
  margin-bottom: 20px;
  padding: 20px;
  min-height: 20vh;
  color: white;
  width: 50%;
  right: 0;
  border-top-left-radius: 20px;
  font-family: "Lato";
  border-bottom-left-radius: 20px;

}

.more-button{
  color: var(--lime-green);
  border-radius: 12px;
  border-style: none;
  background-color: rgba(256, 256, 256, 0%);
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
  color: var(--lime-green);
  margin-left: 0;
  font-family: "Lato";
  letter-spacing: 2px;

  
}

.services-main{
  width: 100vw;
  background-color: var(--bg-color);
  margin: 120px;

}

.services-overview{
  background-color: var(--bg-color)
}

.services-title1{
  font-family: "Lato-Thin";
  text-transform: uppercase;
}

.services-title2{
  font-family: "NibPro-BoldItalic";
}

.services-title3{
  font-family: "NibPro-Bold";
  text-transform: uppercase;
}

.services-p{
  width: 50%;

}

.services-p-bold{
  font-family: "Lato-SemiBold";
}