.services-icon{
  height: 20vh;
  float: left;
  padding-right: 20px;
}

.services-div{
  background-color: var(--blue);
  margin-bottom: 20px;
  padding: 20px;
  min-height: 20vh;
  color: white;
}

.services-main{
  width: 100vw;
  background-color: var(--bg-color);

}

.services-overview{
  background-color: var(--bg-color)
}

.services-title1{
  font-family: "Raleway-Thin";
  text-transform: uppercase;
}

.services-title2{
  font-family: "NibPro-BoldItalic";
}

.services-title3{
  font-family: "NibPro-Bold";
  text-transform: uppercase;
}