.ws-title1{
  font-family: "Lato-Thin";
  text-transform: uppercase;
}

.ws-title2{
  font-family: "NibPro-BoldItalic";
}

.ws-title3{
  font-family: "NibPro-Bold";
  text-transform: uppercase;
}

.ws-main{
  background-color: var(--lime-green);
  padding: 50px;
  padding-left: 120px;
  padding-right: 120px;
}