  .ws_portraitA{
    display: inline;
    height: auto;
    padding-left: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 0;
    max-width:90vw;
    max-height:90vh;
    width: auto;   
    height: 50vw;
    transform: translate(-60px, -12vh);
    z-index: 2;

  }



  .ws-buttons{
    padding-top: 2vh;
    padding-right: 2vh;
  
  }

  .break{
    display: none;
  }

  .ws-p{
    padding-top: 2vh;
    text-align: left;
  
  }
  
  
  .ws-textmain{
    z-index: 5;
    padding-top: 2vh;
    padding-left: 15vw;
    line-height: 3vh;
    font-size: 2vh;
    width: 92%;
    float: bottom;
    padding-bottom: 4vh;
  
  }

  .ws_portraitB{
    display: none;

  }

  .ws-titlemain{
    background-color: var(--lime-green);
    max-width: 25vw;
    z-index: 10;
    position: relative;
    padding-left: 10px;

  }

  .ws-title1{
    font-family: "Lato-Thin";
    text-transform: uppercase;
    font-size: 3.7vw;
    line-height: 5vw;
    background-color: var(--lime-green);


  }
  .ws-title20{
    font-family: "NibPro-BoldItalic";
    font-size: 3.3vw;
    line-height: 60px;
    display: none;
    background-color: var(--lime-green);



  }
  
  .ws-title21{
    font-family: "NibPro-BoldItalic";
    font-size: 3.3vw;
    line-height: 5vw;
    display: inline;
    background-color: var(--lime-green);

  }
  
  .ws-title3{
    font-family: "NibPro-Bold";
    text-transform: uppercase;
    font-size: 5.5vw;
    line-height: 5vw;
    background-color: var(--lime-green);
  }
/*   
  .ws-line1{
    position: absolute;
    transform: translate(80vw, -50vh);
    width: .2vw;
    height: 63.8%;
    background-color: var(--blue);
    z-index: 0;

  }

  .ws-line2{
    position: absolute;
    transform: translate(55.19vw, 13.5vh);
    height: .2vw;
    width: 25%;
    background-color: var(--blue);
    z-index: 0;
  }

  .ws-line3{
    position: absolute;
    transform: translate(26.6vw, 6vh);
    height: .1vw;
    width: 33%;
    background-color: var(--blue);
    z-index: 10;
  }


  .ws-line4{
    position: absolute;
    height: .1vw;
    width: 8.8%;
    /* background-color: var(--lime-green); */
    z-index: 10;
  } */



@media screen and (max-width: 986px){
  .ws_portraitA{
    display: none;

  }

  .portraitB-div{
    max-height: 50vh;
  }
  .ws_portraitB{
    display: flex;
    transform: translate(-9vw, 0vw);
    height: auto;
    padding-left: 0;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 0;
    max-width:calc(30vw + 30vh);
    width: auto;
    height: auto;
    z-index: 2;

  }
  
  .ws-textmain{
    transform: translateY(15vw);
    z-index: 5;
    padding-top: 0vh;
    padding-left: 0vw;
    line-height: 3vh;
    font-size: 1.1em;
    width: 100%;
    float: bottom;
    text-align: right;
  }

  .ws-title1{
    font-family: "Lato-Light";
    text-transform: uppercase;
    font-size: 8.8vw;
    line-height: 4vw;
  }

  .ws-title20{
    font-family: "NibPro-SemiBoldItalic";
    font-size:6.3vw;
    display: inline;
  }

  .ws-title21{
    font-family: "NibPro-SemiBoldItalic";
    font-size: 6.3vw;
    display: none;
  }
  
  .ws-title3{
    font-family: "NibPro-Bold";
    text-transform: uppercase;
    font-size: 12.5vw;
  }


  .ws-titlemain{
    line-height: 12vw;
    padding-right: 6vw;
  }
  

  .ws-p{
    padding-top: 1vh;
    padding-bottom: 6vh;

    text-align: justify;
    line-height: 1.7em;
    width: 85%;
    margin: auto;
    font-size: 1.3em;
  
  }
  

}

@media screen and (max-width: 581px){

  .break{
    display: inline;
    width: 0;
  }

  .ws_portraitA{
    display: none;

  }

  .portraitB-div{
    max-height: 20vh;
  }
  .ws_portraitB{
    display: flex;
    transform: translate(-15vw, -30vw);
    height: auto;
    padding-left: 0;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 0;
    max-width:75vw;
    width: auto;
    height: auto;
    z-index: 2;

  }

  .ws-buttons{
    text-align: right;
    padding-top: 2vh;
    padding-right: 0;
    
  }
  
  .ws-textmain{
    transform: translateY(15vw);
    z-index: 5;
    padding-top: 0vh;
    padding-left: 0vw;
    line-height: 3vh;
    font-size: 2vh;
    width: 100%;
    float: bottom;
    text-align: center;
  }

  .ws-title1{
    font-family: "Lato-Light";
    text-transform: uppercase;
    font-size: 10.3vw;
    line-height: 5vw;
  }

  .ws-title20{
    font-family: "NibPro-BoldItalic";
    font-size: 7.3vw;
    display: inline;
  }

  .ws-title21{
    font-family: "NibPro-BoldItalic";
    font-size: 10.3vw;
    display: none;
  }
  
  .ws-title3{
    font-family: "NibPro-Bold";
    text-transform: uppercase;
    font-size: 20.5vw;
  }


  .ws-titlemain{
    line-height: 21vw;
    padding-right: 0vw;
  }
  

  .ws-p{
    padding-top: 2vh;
    text-align: justify;
    line-height: 8vw;
    width: 85%;
    margin: auto;
    font-size: 4.7vw;
  
  }
  

}

.ws-main{
  padding-top: 0vh;
  background-color: var(--lime-green);
  border-top-left-radius: 300px;
  border-top-right-radius: 0px;


}




.black{
  border-radius: 12px;
  border-style: none;
  background-color: rgba(0, 0, 0, 60%);
  padding: 12px;
  margin: 12px;
  color: var(--lime-green);
  text-transform: uppercase;
}

.blackoutline{
  border-radius: 12px;
  border: 1.5px solid rgba(0, 0, 0, 80%);
  padding: 10.5px;
  margin: 12px;
  color: black;
  background-color: transparent;

}

.black:hover{
  border-radius: 12px;
  border-style: none;
  background-color: rgba(0, 0, 0, 40%);
  padding: 12px;
  margin: 12px;
  text-transform: uppercase;
}


.blackoutline:hover{
  border-radius: 12px;
  border: 1.5px solid rgba(0, 0, 0, 50%);
  padding: 10.5px;
  margin: 12px;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 10%);
}
