html {
  scroll-behavior: smooth;
}

button{
  border-radius: 12px;
  border-style: none;
  background-color: rgba(0, 0, 0, 20%);
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
}

.outline{
  border-radius: 12px;
  border: 1.5px solid black;
  padding: 8.5px;
  background-color: transparent;

}