.hero-main{
  padding: 10vw;
  padding-top: 2vw;
  padding-bottom: 5vw;
  /* border-bottom-left-radius: 5vh;
  border-bottom-right-radius: 5vh; */
  width:100vw;
  margin: auto;
  background-color: var(--blue);

  /* max-width: 100%; */
  /* transform: translateY(-30px); */
  

}

.hero-bg{


}

.hero-container{
  margin:6px;

}


.hero-logo{
  justify-content: right;
  height: 4.5vw;
  position: absolute;
  right: 2vw;
  top: 3vh;
  font-size: 50vmin;
  opacity: 80%;


}


.hero-figures{
  width: 170%;
  display: relative;
  position: relative;
  float: right;
  transform: translateX(12vw); 
  /* right: 0px;
  position: absolute;
*/ 
  /* width: 60vw;
  position: absolute;
  right: -9vw;
  top: 32vh; */
}

.hero-text{
  color: white;
  padding-top: 8vw;
  padding-bottom: 3vw;

  font-family: "NibPro-Light";
  font-size:calc(20px + 2.5vw);
  text-align: left;
  width: 95%;
  line-height: calc(30px + 4vw);
}


.hero-p{
  color: var(--lime-green);
  text-align: left;
  line-height: 2.5vw;
  font-family: "Lato-Light";  
  text-align: justify;
  width: 95%;
  font-size: 1.5vw;
  font-size-adjust: inherit;


}



@media screen and (max-width: 987px){


.hero-p{
  color: var(--lime-green);
  text-align: left;
  line-height: 3.5vw;
  font-family: "Lato-Light";  
  text-align: left;
  width: 55%;
  font-size: 2.0vw;
  font-size-adjust: inherit;


}


  .hero-logo{
    justify-content: right;
    height: 5.5vh;
    position: absolute;
    right: 2vw;
    top: 3vh;
    font-size: 50vmin;
    opacity: 80%;
  
  }

  .hero-text{
    color: white;
    padding-top: 12vh;
    padding-bottom: 3vw;
    font-family: "NibPro-Light";
    font-size:calc(24px + 2.5vw);
    text-align: left;
    width: 95%;
    line-height: calc(38px + 4vw);
  }



}

@media screen and (max-width: 787px){

  .hero-p{
    color: var(--lime-green);
    text-align: left;
    line-height: 5.5vw;
    font-family: "Lato-Light";  
    text-align: left;
    width: 90%;
    font-size: 3.0vw;
    font-size-adjust: inherit;
  
  
  }


  .hero-logo{
    justify-content: right;
    height: 5.5vh;
    position: absolute;
    right: 2vw;
    top: 3vh;
    font-size: 50vmin;
    opacity: 80%;
  
  }

  .hero-text{
    color: white;
    padding-top: 12vh;
    padding-bottom: 3vw;
    font-family: "NibPro-Light";
    font-size:calc(32px + 2.5vw);
    text-align: left;
    width: 100%;
    line-height: calc(38px + 4vw);
  }


}

@media screen and (max-width: 387px){

  .hero-logo{
    justify-content: right;
    height: 5.5vh;
    position: absolute;
    right: 2vw;
    top: 3vh;
    font-size: 50vmin;
    opacity: 80%;
  
  }

  .hero-text{
    color: white;
    padding-top: 12vh;
    padding-bottom: 3vw;
    font-family: "NibPro-Light";
    font-size:calc(23px + 2.5vw);
    text-align: left;
    width: 95%;
    line-height: calc(38px + 4vw);
  }


}




.hero-row{
  padding: 0;

}


.bold-italic{
  font-family: "NibPro-BoldItalic";
}


.white{
  border-radius: 12px;
  border-style: none;
  background-color: rgba(256, 256, 256, 20%);
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
  color: white;
  margin-left: 0;


}

.whiteoutline{
  text-transform: uppercase;
  border-radius: 12px;
  border: 1.5px solid rgba(256, 256, 256, 50%);
  color: white;
  padding: 8.5px;
  background-color: transparent;
  margin-left: 0;


}

.white:hover{
  border-radius: 12px;
  border-style: none;
  background-color: rgba(256, 256, 256, 10%);
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
  color: white;
  margin-left: 0;


}

.whiteoutline:hover{
  text-transform: uppercase;
  border-radius: 12px;
  border: 1.5px solid rgba(256, 256, 256, 10%);
  background-color: rgba(256, 256, 256, 2%);

  color: white;
  padding: 8.5px;
  margin-left: 0;


}

.hero-button-group{
  padding-top: 30px;
  text-align: left;
  margin-left: 0;
}


