.hero-main{
  background-color: var(--blue);
  padding: 5vw;
  padding-top: 2vw;
  padding-bottom: 7vw;
  /* border-bottom-left-radius: 5vh;
  border-bottom-right-radius: 5vh; */
  width: 105vw;
  margin: auto;
  max-width: 100%
  /* transform: translateY(-30px); */
  

}

.hero-bg{


}

.hero-text{
  color: white;
  padding-top: 8vw;
  padding-bottom: 3vw;

  font-family: "NibPro-Light";
  font-size:calc(20px + 2.5vw);
  text-align: left;
  width: 100%;
  line-height: calc(30px + 4vw);
}

.hero-p{
  color: var(--lime-green);
  text-align: left;
  line-height: 25px;
  font-family: "Lato-Light";
    width: 50%;
    font-size: .88em;
    font-size-adjust: inherit;


}

.bold-italic{
  font-family: "NibPro-BoldItalic";
}


.white{
  border-radius: 12px;
  border-style: none;
  background-color: rgba(256, 256, 256, 20%);
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
  color: white;
  margin-left: 0;


}

.whiteoutline{
  text-transform: uppercase;
  border-radius: 12px;
  border: 1.5px solid rgba(256, 256, 256, 50%);
  color: white;
  padding: 8.5px;
  background-color: transparent;
  margin-left: 0;


}

.hero-button-group{
  padding-top: 30px;
  text-align: left;
  margin-left: 0;
}


.hero-logo{
  justify-content: right;
  height: 4.5vw;
  position: absolute;
  right: 4vw;
  top: 3vh;
  font-size: 50vmin;


}